body{
	background-color: rgb(244,244,232);
	min-width: 960px;
	text-align: center;
}

header
{
	background-color: rgb(68,120,168);
	width: 960px;
	display: inline-block;
	color: white;
}

section 
{
	width: 960px;
	color: white;
	display: inline-block;
	background-color: rgb(68,120,168); 
}
