body{
	background-color: rgb(204,210,220);
	min-width: 960px;
	text-align: center;
	font-size: 24px;
}

header
{
	background-color: rgb(68,120,168);
	width: 960px;
	display: inline-block;
	color: white;
}

article 
{
	width: 960px;
	background-color: rgb(244,244,232);
	display: inline-block;
}

article p {
	background-color: rgb(240,240,250);
	color: rgb(0,0,0);
}

section 
{
	width: 960px;
	color: white;
	display: inline-block;
	background-color: rgb(68,120,168); 
}


